# Maven
target/
.m2/
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Log files
*.log

# Compiled class files
*.class

# Package Files #
*.jar
*.war
*.ear

# Misc
*.pid
*.bak
*.swp
*~

# Specific to Spring Boot
/build/
/bin/

# Environment variables
.env
.env.*

# Node.js modules (if any)
node_modules/
